*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #222;
 
 
  
}
header{
  background: white;
  max-height: 130px
}
.paginaAttiva{
  color: blueviolet;
  padding: 50px 0;
  border-bottom: 3px solid blueviolet;
}
.AppJumbo{
  min-height: 300px;
  background-image: url(./assets/img/jumbotron.jpg);
  background-size: cover;
  background-position: top;
  
}
.container{
  text-align: center;
  width: 70%;
  margin:20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.store{
  min-height: 200px;
  margin: auto;
}
.locandine{
  object-fit: cover;
  width: 20%;
  margin-right: 12px;
}
.misc{
  color:  white;
  background-image: url(./assets/img/footer-bg.jpg);
  min-height: 200px;
}
.my-footer{
  background: #333;
  min-height: 100px;
}
.my-button{
  border: 2px solid blueviolet;
  padding: 10px;
}
.follow{
  color: blueviolet;
}